body {
    background: #a94aed;
    background: radial-gradient(circle, rgba(169,74,237,0.61) 0%, rgba(48,13,61,1) 100%);
    margin: 0;
    font-family: sans-serif;
}


footer {
    width: 100%;
    color: #fff;
    padding: 5px 0;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
    bottom: 0;
    left: 0;
    background: #a94aed;
}


.btn {
    padding: 15px;
    width: 100px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    padding: 15px;
    width: 100px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    cursor: pointer;
}



.personagens {
    background: rgba(255, 255, 255, 0.66);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    margin: 0 auto;
}


.card {
    padding: 20px;
    margin: 40px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    text-align: center;
}


#lista-ranking {
    margin: 30px auto;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.roteiro{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

h3{
    text-align: center;
    margin: 0 auto;
}

h2{
    text-align: center;
    color: #fff;
    font-weight: bold;
}
#ranking{
    margin: 0 auto;
    text-align: center;
}

.roteiro p{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}